body {
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: url('https://raw.githubusercontent.com/Yatin-As-Enderman/Win11/main/img/wallpaper/olc.jpg');
    background-size: cover;
}

.tb_uwp {
    height: 48px;
    width: 100%;
    background-color: rgb(60, 60, 60);
    position: absolute;
    bottom: 0;
    display: flex;
}

._uwp_menu-btn {
    width: 30px;
    height: 30px;
    margin: 10px;
    opacity: 100%;
    transition: all 200ms ease-in-out;
}

._uwp_menu-btn:hover {
    opacity: 60%;
}

._uwp_explorer-btn {
    width: 30px;
    height: 30px;
    margin: 10px;
    opacity: 100%;
    transition: all 200ms ease-in-out;
}

._uwp_explorer-btn:hover {
    opacity: 60%;
}

._uwp_chrome-btn {
    width: 30px;
    height: 30px;
    margin: 10px;
    opacity: 100%;
    transition: all 200ms ease-in-out;
}

._uwp_chrome-btn:hover {
    opacity: 60%;
}

._uwp_gallery-btn {
    width: 30px;
    height: 30px;
    margin: 10px;
    opacity: 100%;
    transition: all 200ms ease-in-out;
}

._uwp_gallery-btn:hover {
    opacity: 60%;
}

.shell_dt-icon_ico_rufus_crash {
    width: 40px;
    height: 40px;
    margin: 22px;
    left: 4px;
    top: -10px;
    position: absolute;
}

.shell_dt-capt_ico_rufus_crash {
    color: white;
    font-family: arial;
    position: absolute;
    top: 50px;
    left: 22px;
    cursor: default;
}

/* This was something like hell */

._explorer-shell_dt-icon_rufus_exe:hover {
    background-color: rgb(74, 127, 148);
    width: 86px;
    left: 22px;
    top: 22px;
    height: 100px;
    position: absolute;
    border: 0.5px solid skyblue;
}

._explorer-shell_dt-icon_rufus_exe {
    background-color: none;
    width: 86px;
    left: 22px;
    top: 22px;
    height: 100px;
    position: absolute;
}

.rufus_crash_shellwinclassic_runmode-invoker {
    height: 500px;
    width: 300px;
    background-color: whitesmoke;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 60px;
    border-radius: 10px;
    opacity: 0%;
    transform: scale(0);
    transition: all 300ms ease-in-out;
}

.rufus_crash_shellwinclassic_runmode-invoker.active {
    opacity: 100%;
    transform: scale(1);
}

.classic_rufus-shell_topbar_icon {
    width: 20px;
    margin: 5px;
}

.classic_rufus-shell_topbar_caption {
    font-family: arial;
    font-size: 13px;
    position: relative;
    top: -40px;
    left: 30px;
    cursor: default;
}

.shell_rufus_topbar_classic {
    background-color: rgb(213, 213, 213);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30px;
}

.classic_rufus-shell_toolbar-close {
    font-weight: lighter;
    cursor: default;
    top: 5px;
    position: relative;
    left: 8px;
}

.classic_rufus-shell_toolbar-container {
    position: relative;
    top: -73px;
    left: 275px;
}

.shell_rufus-toolbar_close-container {
    background-color: none;
    width: 30px;
    height: 30px;
    position: relative;
    top: -5px;
    color: black;
    left: -5px;
    border-top-right-radius: 10px;
    transition: all 300ms ease-in-out;
}

.shell_rufus-toolbar_close-container:hover {
    background-color: red;
    color: white;
}

.shell_rufus-toolbar_maximize-container {
    background-color: none;
    width: 30px;
    height: 30px;
    position: relative;
    top: -51px;
    color: black;
    left: -35px;
    transition: all 300ms ease-in-out;
}

.shell_rufus-toolbar_maximize-container:hover {
    background-color: gray;
    color: white;
}

.classic_rufus-shell_toolbar-maximize {
    font-weight: lighter;
    cursor: default;
    top: 5px;
    position: relative;
    left: 8px;
}

.shell_rufus-toolbar_minimize-container {
    background-color: none;
    width: 30px;
    height: 30px;
    position: relative;
    top: -97px;
    color: black;
    left: -65px;
    transition: all 300ms ease-in-out;
}

.shell_rufus-toolbar_minimize-container:hover {
    background-color: gray;
    color: white;
}

.classic_rufus-shell_toolbar-minimize {
    font-weight: lighter;
    cursor: default;
    top: 5px;
    position: relative;
    left: 8px;
}
